<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{{ title if title else "Portfolio" }} | Dhvani 💖</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
</head>

<body>

<!-- Navbar -->
<nav class="navbar">
  <h2 style="color:white;">Dhvani 💗</h2>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/#about">About</a></li>
    <li><a href="/#skills">Skills</a></li>
    <li><a href="/#projects">Projects</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>

<!-- Main Content -->
<div class="content">
    {% block content %}{% endblock %}
</div>

<!-- Footer -->
<footer>
    <p>© 2025 Dhvani 💕 | All Rights Reserved</p>
</footer>

</body>
</html>
